<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<!-- コンソール出力 -->
		<target xsi:type="Console" name="console"
				layout="${longdate}|${level}|${logger}|${aspnet-item:X-Correlation-ID}|${message}" />

		<!-- ファイル出力（必要なら） -->
		<target xsi:type="File" name="file"
				fileName="logs/app.log"
				layout="${longdate}|${level}|${logger}|${aspnet-item:X-Correlation-ID}|${message}" />


	</targets>
	
	<rules>
		<!--  Microsoft.* はコンソールに出さない -->
		<logger name="Microsoft.*" minlevel="Info" writeTo="" />

		<!-- 自分のアプリだけログ出力 -->
		<logger name="LoggingExample.*" minlevel="Info" writeTo="console" />

		<!-- ファイルには全てログを出力-->
		<!-- <logger name="*" minlevel="Info" writeTo="file"/> -->

		<!-- ファイルへの出力を調整 -->
		<logger name="LoggingExample.*" minlevel="Info" writeTo="file" />
		<logger name="Microsoft.AspNetCore.HttpLogging.*" minlevel="Info" writeTo="file"/>
		
	</rules>
</nlog>
